.filter_panel {
  padding: 8px 0px;
  display: flex;
  align-items: center;

  .title {
    margin-right: 8px;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .total {
    flex-grow: 1;
    text-align: right;
    font-size: 0.8rem;
    font-weight: bold;
  }
}