.content_list {
  height: 100%;
  display: flex;
  flex-direction: column;

  .movielist_wrapper {
    flex-grow: 1;
    overflow: auto;
  }
}

.content_info {
  top: 32px;
  opacity: 0.7;
}

@media (min-width: 769px) {
  .content_info {
    top: 0px;
    opacity: 1;
  }
}

// 有 info 資訊的 container - tab, mobile
.container_info {
  max-width: 100% !important;
  position: relative;

  .content_list {
    width: 100%;
  }

  .content_info {
    width: calc(100vw - 32px);
    height: calc(100vh - 32px);
    padding: 16px;
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 2;
    opacity: 1;
    background: #d3d3d3;
    border-radius: 24px;
    transition: 0.4s all;
  }
}

// 有 info 資訊的 container - desktop
@media (min-width: 769px) {
  .container_info {
    max-width: 900px !important;
    display: flex;
    flex-direction: row;

    .content_list {
      width: 400px;
      flex-basis: 400px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .content_info {
      width: auto;
      height: auto;
      position: relative;
      margin-left: 16px;
      top: 0px;
      left: 0px;
      flex-grow: 1;
      border-radius: 24px;
    }
  }
}